
/* **************************** */
/* ********* HomePage ********* */
/* **************************** */


.app-logo2 {
  max-width: 300px;
  display: inline-block;
  margin-bottom: 25px;
  padding-top: 25px;
}

.homepage {
  background: url('/images/docu-blue.png');
  padding-top: 20px;
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.documoto-home {
  text-align: center;
}

.docu-info {
  font: normal 600 40px / 50px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 48px;
  text-shadow: 1px 1px 2px #333;
  color: #eee;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: unset;
  letter-spacing: 0.5px;
  line-height: 56px;
  font-weight: 500;
}

.btn {
  font: normal 13px / 17px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  background: transparent !important;
  border: 2px solid #67c9b4 !important;
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  color: #67c9b4 !important;
  text-decoration: none;
  margin-top: 75px;
}

.btn:hover {
  background-color: #eee !important;
  text-decoration: underline !important;
}

/* *********************** */
/* ********* Nav ********* */
/* *********************** */

.app-logo {
  max-width: 300px;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar {

  background: url('/images/docu-blue.png');
}

.nav-links {
  font:  normal bold 17px / 21px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: none;  
  text-align: right;
  color: #5891e8 !important;
}

.nav-link:hover {
  color: #fff !important;
  text-decoration: underline !important;
}

/* ********************************** */
/* ********* PagesContainer ********* */
/* ********************************** */

.pages-description {
  font: normal 25px / 30px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

}

.pages-list-div {
  text-align: center;
  background: url('/images/industrial.jpg');
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  padding-top:25px;
}

.pages-list {
  margin-top: 50px; 
  font:  normal bold 20px / 30px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
  list-style: none;  
}

.indiv-page {
  font-size: 40px;
  display: inline-block;
  margin: 20px 75px;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-links-pages {
  font:  normal bold 30px / 35px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: none;  
  color: #5891e8 !important;
}

/* ********************************************** */
/* ********* Individual Pages (0, 1, 2) ********* */
/* ********************************************** */


.page0 {
  text-align: center;
  background: url('/images/industrial-pages.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #eee;
  padding-top:50px;
  padding-bottom:100px;
}

.header-img-div {
  max-width: 90%;
  text-align: center;
  display: inline-flex;
}

.indiv-page-header {
  font:  normal bold 30px / 35px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
  text-align: center;
  margin-bottom: 80px;
}

.indiv-page-header-span {
  font:  normal bold 30px / 35px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
  color: #5891e8 !important;
  text-transform: uppercase;
}

.indiv-page-img {
  max-width: 300px;
}

.big-border {
  display: inline-block;
  max-width: 300px;
  -webkit-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
     -moz-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
          box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;  
}

.details2 {
  margin-top: 40px;

}

.details2:hover {
  background-color: #eee !important;
  text-decoration: underline !important;
}

/* ***************************************************** */
/* ********* Individual Page - Parts (0, 1, 2) ********* */
/* ***************************************************** */

.parts {
  display: inline-block;
  margin-left: 50px;
}

.part-details {
  text-align: left;
  margin-top: 5px;
}

.part-name {
  font:  normal bold 20px / 22px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
  margin-top: 8px;
  text-align: center;
  color: #5891e8;
}

.indiv-part {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.part-thumbnail {
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 5px; 
  max-height: 100px;
}

.part-thumbnail:hover {
  box-shadow: 0 0 5px 5px #5891e8;
}

.part-id, .part-number {
  font:  normal bold 14px / 16px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  line-height: 0.8;
  text-align: left;
}

.parts-description {
  font:  normal bold 14px / 16px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  color: #5891e8;
}